
/* ---USE this font for different headers and nav's links---
font-family: 'Quattrocento', serif;*/
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');
/*---USE this font for text in paragraph---
 font-family: 'Fanwood Text', serif; */
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text');
/* 
---USE this font for logo in nav---
font-family: 'Chonburi', cursive; */
@import url('https://fonts.googleapis.com/css?family=Chonburi');

body{
	background-color: #eee;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Quattrocento', serif;
}
h1{
		color: #003366;
		font-weight: 600;
		text-transform: capitalize;
		text-shadow: 1px 1px 1px #333;
	}
p{
	font: 16px/2 'Fanwood Text', serif;
}
.navbar{
	margin-bottom: 0;
	border: none;
	border-color: #003366;
	&-brand{
		color: red;
	}
	&-default{
		border-radius: 0;
		background-color: rgba(0, 52, 102, 0.8);
		.navbar-brand{
			padding-left: 30px;
			padding-right: 30px;		
			color: #eee;
			font: 600 32px/.5 'Chonburi', cursive;
			background-color: #e12;
			&:hover{
				background-color: #e12;
				color: #fff;
			}
		}
		.navbar-nav>li>a{
			color: #eee;/*#003366*/
			font-weight: 600;
			font-family: 'Quattrocento', serif;
		}
		
	}
}
.jumbotron{
	position: relative;
	background: url('../img/jumbotron-md.jpg') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #ddd;/* #003366 */
	z-index: 0;
	.container{
		padding-top: 19%;
		z-index: 1;
	}
	h1{
		font-size: 66px;
	}
	p{
		font-size: 22px;
	}
	a{
		border-radius: 2px;
		border: 2px solid #fff;/* #003366 */
		background-color: rgba(0,0,0, 0.0)
	}
	.btn-info{
		color: #eee;/* #003366 */
		&:hover{
			border-color: #003366;
			background-color: rgba(0, 51, 102, .5);
		} 
		&:focus{
			background-color: rgba(0, 51, 102, 1);/* #e12; */
		}
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		min-height: 100%;
		background-color: #003366;
		-webkit-filter: opacity(33%);
		filter: opacity(33%);
		z-index: -1;
	
	}
}
.about{
	p{
		text-indent: 44px;
		font-size: 22px;
		font-weight: 400;
	}
	a.btn-info{
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 10px;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 2px;
		border: 2px solid #003366;
		background-color: rgba(0,0,0, 0.0);
		text-indent: 0;
		color: #003366;
		&:hover{
			border-color: #003366;
			background-color: rgba(0, 51, 102, .5);
		} 
		&:focus{
			background-color: rgba(0, 51, 102, 1);/* #e12; */
		}
	}
}
.services{
	position: relative;
	margin-top: 20px;
	min-height: 500px;
	background-color: #eee;
	background: #e12 url('../img/service-md.jpg') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 20px;
	z-index: 0;
	h1, h2{
		color:#eee;
		text-shadow: 1px 1px 2px #333;

	}
	h1{
		margin-top: 25px;
		margin-bottom: 15px;
		text-shadow: 1px 1px 2px #333;
	}
	h2{
		padding: 2px 0;
		font-weight: 400;
		font-size: 28px;
		background-color: rgba(238, 17, 34, 0.8);

	}
	.container{
		z-index: 2;
	}
	.container-fa{
		width: 100%;
		height: 150px;
		color: #003366;
	}
	&-fa-fontsize{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 150px;
		border: 1px solid #333;
		background-color: #eee; /* #F95100 */
		border-radius: 50%;
		font-size: 42px;
		line-height: 150px;
	}
	h6{
		border-radius:2px;
		font-size: 18px;
		color:#eee;
		padding: 15px 20px;
		background: rgba(0, 51, 102, 0.9);
		font-weight: 500;
	}
	a{
		text-indent: 30px;
		color:#ddd;
	}
	a.btn-info{
		margin-top: 15px;
		margin-bottom: 15px;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 2px;
		border: 2px solid #fff;/* #003366 */
		background-color: rgba(0,0,0, 0.0);
		text-indent: 0;
		color: #eee;/* #003366 */
		&:hover{
			border-color: #003366;
			background-color: rgba(0, 51, 102, .5);
		} 
		&:focus{
			background-color: rgba(0, 51, 102, 1);/* #e12; */
		}
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		background-color: #e12;/* rgba(188,147,43,0.7); */
		filter: opacity(33%);
		z-index: -1;
	}
}
.team{
	padding-bottom: 20px;
	h1{
		margin-top: 25px;
	}
	h2{
		text-indent: 20px;
		margin-top: 0;
	}
	h5{
		text-indent: 100px;

	}
	h5:after{
		content: "";
		display: block;
		clear: both;
	}
	p{
		padding-right: 10px;
		font-size: 22px;
		line-height: 1.4em;
		text-indent: 15px;
		margin-bottom: 0;
		border-right: 3px solid #ddd;
	}
		a.btn-info{
		margin-top: 15px;
		margin-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 2px;
		border: 2px solid #003366;
		background-color: rgba(0,0,0, 0.0);
		text-indent: 0;
		color: #003366;
		&:hover{
			border-color: #003366;
			background-color: rgba(0, 51, 102, .5);
		} 
	}
}
.stack{
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ddd;
	z-index: 2; 
	.row{
		text-align: center;
		i{
			line-height: 100px;
			text-align: right;
			font-size: 77px;
			&.devicon-html5-plain-wordmark{
				color: #e52;
			}
			&.devicon-css3-plain-wordmark{
				color: #0af;
			}
			&.devicon-jquery-plain-wordmark{
				color: #123;
			}
			&.devicon-php-plain{
				color: #68c;
			}
			&.devicon-less-plain-wordmark{
				color: #fff;
			}
			&.devicon-javascript-plain{
				color: #fe5;
			}
			&.devicon-wordpress-plain-wordmark{
				color: #ddd;
			}
			&.devicon-bootstrap-plain-wordmark{
				color: #548;
			}
			&.devicon-illustrator-plain{
				color: #f82;
			}
			&.devicon-github-plain-wordmark{
				color: #123;
			}
			&.devicon-chrome-plain-wordmark{
				color: #d33;
			}
			&.devicon-firefox-plain-wordmark{
				color: #000;
			}
		}
	}
	
	h1{
		color:#eee;
		text-shadow: 1px 1px 2px #333;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		min-height: 100%;
		background: #ddd url('../img/stack-md.jpg') center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		filter:blur(.5px);
		z-index: -1;
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		min-height: 100%;
		background-color: rgba(0, 51, 102, .3);
		z-index: -1;
	}
	a.btn-info{
		margin-top: 35px;
		margin-bottom: 10px;
		border-radius: 2px;
		border: 2px solid #fff;/* #003366 */
		background-color: rgba(0,0,0, 0.0);
		color: #eee;/* #003366 */
		&:hover{
			border-color: #003366;
			background-color: rgba(0, 51, 102, .5);
		} 
		&:focus{
			background-color: rgba(0, 51, 102, 1)/*  #e12; */
		}
	}
}
.partners{
	padding-top: 10px;
	padding-bottom: 20px;
	h1{
		padding: 15px 0 20px 0;
	}
	img{
		width: 	25%;
	}
	a{
		font: 400 22px/1.5 'Fanwood Text', serif;
		color: #003366;
		&:hover, &:focus{
			color: #d12;
			text-decoration: none;
		}
	}
	p{
		font-size: 18px;
		line-height: 1.8em;
		&:before{
			content: "\201c";
			margin-right: 5px;
		}
		&:after{
		content: "\201d";
		margin-left: 5px;
		}
		&:before, &:after{
			font-size: 	32px;
			color: #003366;
		}
	}
	a.btn-info{
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: -35px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 2px;
		border: 2px solid #003366;
		background-color: rgba(0,0,0, 0.0);
		text-indent: 0;
		color: #003366;
		&:hover{
			border-color: #003366;
			background-color: rgba(0, 51, 102, .5);
		} 
	}

}
.portfolio{
	position: relative;
	background-color: #ddd;
	z-index: 1;
	padding-top: 15px;
	padding-bottom: 40px;
	h1{
		color:#eee;
		padding-bottom: 10px;
	}
	a{	padding-right: 0;
		padding-left: 0;
		border-radius: 5px;
		position: relative;
		&:hover img{
			background-color: rgba(0, 51, 102, 0.8);

		}
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 51, 102, 0.1);
		}
	}
	.thumbnail{
		border-radius: 2px;
		padding: 0;
	}
	&:before, &:after{
		z-index: -1;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #ddd url('../img/portfolio-md.jpg') center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		filter: blur(1px);
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #e12;
		filter: opacity(33%);
	}
	
}
.contact{
	background-color: #8099b3;
	padding-top: 15px;
	padding-bottom: 35px;
	&-btn{
		margin-top: 20px;
		margin-left: 5px;
		color: #eee;
		font-size: 18px;
		background-color: rgba(238, 17, 34,0.8);
		border: 2px solid #eee;
		border-radius: 1px;
		&:hover, &:focus{
			color: #eee;
			background-color: rgba(238, 17, 34, 1);
		}
	}
	input{
		border: 2px solid #eee;
		border-radius: 1px;
		font-size: 18px;
		height: 40px;
		background-color: rgba(238, 17, 34, .2);
	}
	label{
		margin-left: 15px;
		font-size: 18px;
	}	
	form{

		font-size: 18px;
		padding-left: 60px;
		font-family: 'Quattrocento', serif;
		margin: 20px auto;
	}
	
}
footer{
	width: 100%;
	min-height: 50px;
	background-color: rgba(0, 52, 102, 0.8);
	.w30{
		width: 33%;
	}
	hr{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	p{
		margin-top: 2px;
		margin-bottom: 5px;
		color: #eee;
		font-size: 22px;
		line-height: 50px;
	}
	a{

		font-size: 28px;
		color: #eee;
		padding: 8px 20px 14px 20px;
		background-color: #e12;
		&:focus, &:hover{
			text-decoration: none;
			color: #eee;
		}
	}
}
#scrollUp {
	color: red;
	bottom: 20px;
	right: 025px;
	padding: 25px 25px;
	background: #003366 url('../img/top-arr.png') 7px 6px no-repeat;
	-webkit-background-size: cover;
	background-size: 72%;
	border: 1px solid #fff;
	border-radius:50%;
	opacity: 0.7;
	&:hover{
		/* background-color: rgba(0, 52, 102, .5); */
	}
}
@media (min-width: 962px){
	.stack{
		.row i{
			font-size: 120px;
			line-height: 150px;
		}
	}
}
@media (min-width: 768px) and (max-width: 962px){
	/* a.navbar-brand{
		display: none;
	} */
	.about, .services, .team, .stack, .partners{
		a.btn-info{
			width: 100%;
			margin-left: 0;
		}
	}
	.stack{
		
	}
	.contact{
		a{
			font-size: 42px;
			color: #003366;
		}
		&:focus{
			color: #e12;
		}
	}
}
@media (min-width: 320px) and (max-width: 768px){
	.navbar-default .navbar-brand{
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-toggle{
		margin-left: 15px;
	}
	.jumbotron{
		background: url('../img/jumbotron-sm.jpg') center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		h1, p{
			text-align: center;
		}
		.container{
			padding-top: 0;
		}
		a{
			width: 100%;
		}
		a.pull-right{
			float: none;
		}
	}
	.about{
		p{
			text-align: center;
		}
		a.btn-info{
			width: 100%;
			margin-left: 0;
		}
	}
	.services{
		background: url('../img/service-sm.jpg') center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		.text-left, .text-right{
			text-align: center;
		}
		a.btn-info{
			width: 100%;
			margin-left: 0;
		}
	}
	.team{
		h1{
			padding-bottom: 10px;
		}
		h2.text-right{
			margin-top: ;
			text-align: left;
		}
		h5.text-right{
			text-align: left;
			text-indent: 10px;
		}
		img.pull-left{

			float:right;
		}
		a.btn-info{
			width: 100%;
		}
		
	}
	.stack{
		background: url('../img/stack-sm.jpg') center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		a.btn-info{
			width: 100%;
		}
	}
	.portfolio{
		background: url('../img/portfolio-sm.jpg');
		-webkit-background-size: cover;
		background-size: cover;
	}
	.partners{
		a.btn-info{
			width: 100%;
			margin-left: 0;
		}
	}
	.contact{
		a{
			font-size: 42px;
			color: #003366;
		}
		&:focus{
			color: #e12;
		}
	}
	.scrollUp{
		opacity: 0.4;
	}
}
@media (min-width: 319px) {
	.navbar-toggle{
		float: right;
	}
	.navbar-default .navbar-brand{
		font-size: 24px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar-collapse{
		float: right;
	}
	footer{
		a{
			padding-top: 12px;
			font-size: 23px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.scrollUp{
		opacity: 0.4;
	}

}
@media (max-width: 1200px) {
	.collapse.in{
		display:block !important;
	}
}